[project]
	description = A few Dockerfiles
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sebastian Krohn (dramaturg)
[access "refs/for/refs/*"]
	read = group user/Sebastian Krohn (dramaturg)
	push = group user/Sebastian Krohn (dramaturg)
	label-Code-Review = -2..+2 group user/Sebastian Krohn (dramaturg)
	label-Verified = -1..+1 group user/Sebastian Krohn (dramaturg)
	rebase = group user/Sebastian Krohn (dramaturg)
	removeReviewer = group user/Sebastian Krohn (dramaturg)
	submit = group user/Sebastian Krohn (dramaturg)
[access "refs/heads/*"]
	read = group user/Sebastian Krohn (dramaturg)
	create = group user/Sebastian Krohn (dramaturg)
	push = +force group user/Sebastian Krohn (dramaturg)
	pushMerge = group user/Sebastian Krohn (dramaturg)
[access "refs/tags/*"]
	push = +force group user/Sebastian Krohn (dramaturg)
	pushTag = group user/Sebastian Krohn (dramaturg)
	pushSignedTag = group user/Sebastian Krohn (dramaturg)
